@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'abstracts/functions';

@use 'base/reset';
@use 'base/typography';
@use 'base/base';
@use 'base/utils';

@use 'components/buttons';
@use 'components/modal';
@use 'components/chat';
@use 'components/crucetas';

@use 'layouts/header';
@use 'layouts/footer';
@use 'layouts/grid';
@use 'layouts/sections';
@use 'layouts/main-section';

@use 'pages/game'; 




