// Colors
$clr-main: hsl(0, 0%, 100%);
$clr-white: hsl(0, 0%, 100%);
$clr-white-hover: hsl(0, 0%, 88%);
$clr-black: hsl(0, 0%, 0%);
$clr-blue: hsl(235, 63%, 39%);
$clr-brown: hsl(0, 26%, 24%);
$clr-dark: hsl(218, 13%, 17%);
$clr-dark-hover: hsl(217, 8%, 19%);
$clr-yellow: hsl(35, 100%, 62%);
$clr-yellow-50: hsla(35, 94%, 62%, 0.959);
$clr-light-dark: hsl(220, 5%, 36%);

$ff-main: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$ff-script: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$ff-title: 'Kennebunkport Bold', sans-serif;

$fw-light: 300;
$fw-regular: 500;
$fw-semibold: 600;
$fw-bold: 700;

$m-nn: 0.0rem;
$fs-nnm: 0.4rem;
$fs-nmx: 0.6rem;
$fs-nmxx: 0.8rem;
$fs-nm: 1rem;
$fs-xnm: 1.25rem;
$fs-md: 1.875rem;
$fs-mmd: 3rem;
$fs-xmd: 2.5rem;
$fs-xxmd: 3.125rem;
$fs-lg: 3.75rem;
$fs-xl: 4rem;
$fs-xxl: 5rem;
$fs-gt: 6.25rem;
$fs-xgt: 7.5rem;

$cs-md: 21.875rem;

$mt-nm: 2vh;
$mt-xnm: 3vh;
$mt-md: 4vh;
$mt-xmd: 6vh;
$mt-lg: 12vh;

$vh-xnnm: 0.5vh;
$vh-nnm: 1vh;

$vw-nnm: 1vw;
$vw-nm: 2vw;
$vw-xxmd: 10vw;

$pd-nnm: 0.5rem;
