
#container3D {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}

#controller {
    display: flex;
    min-width: 100%;
    min-height: 100%;

    justify-content: space-between;
    position: relative;

    align-items: center;
    flex-direction: row;
    padding: 0;
}

.directional-pad {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vh;
}

.camera-pad {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5vh;
}

.row {
    display: flex;
    justify-content: center;
}

.button {
    width: 8vh;
    height: 8vh;
    background-color: #333333ad;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.button.center {
    background-color: transparent;
}

/* cuz */
.crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
}

.rowArrow {
    display: block;
 
    width: 15px;
    border: 1px solid rgb(255, 255, 255);
    transform: translate(-50%, -50%);
}

.columnArrow {
    display: block;
    height: 15px;
    border: 1px solid rgb(255, 255, 255);
    transform: translate(-50%, -50%);
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.block {
   width: 8vh;
   height: 8vh;
   padding: 4px;
   border: 4px solid rgba(212, 212, 212, 0.637);
   border-radius: 5px;
}

#itemList{
    padding: 0;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 5;
    list-style: none;
    margin-top: 32%;
}

#hud{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

