@use '../abstracts/variables' as *;

main {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
}

#container3D {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}