@use '../abstracts/variables' as *;

main {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
}

#container3D {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}

#canvasFrame {
    min-width: $cs-md;
    min-height: $cs-md;
}

.frase {
    color: $clr-white;
    position: absolute;
    top: 90%;
    right: 50%;
    transform: translate(50%, 50%);
    text-align: center;
    min-width: 100%;
}

.title {
    font-family: $ff-title;
    font-size: $fs-xxmd;
    color: $clr-dark;
}

.description {
    color: $clr-white;
}

#loginBtn:hover {
    background-color: $clr-white-hover;
    border-color: $clr-white-hover;
}